<h5 class="font-weight-bold neuton" style="font-size: 14px;">Quote of The Day</h5>

<p id="quote" class="my-5 font-weight-bold quote neuton"><%= data.quote %></p>

<p id="author" class="font-weight-bold neuton m-0" style="font-size: 14px;"><%= data.author %></p>